<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="https://r.mobirisesite.com/979922/assets/images/g7fe510f007741ca04d88c532655a-h_m4e2c5tl.jpg" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/a.css}">
    <link rel="stylesheet" th:href="@{/css/b.css}">
    <link rel="stylesheet" th:href="@{/css/c.css}">
    <link rel="stylesheet" th:href="@{/css/d.css}">
    <link rel="stylesheet" th:href="@{/css/e.css}">
    <link rel="stylesheet" th:href="@{/css/f.css}">
    <link rel="stylesheet" th:href="@{/css/g.css}">
    <link rel="stylesheet" th:href="@{/css/h.css}">
    <link rel="stylesheet" th:href="@{/css/i.css}">
    <link rel="stylesheet" th:href="@{/css/j.css}">
    <link rel="stylesheet" th:href="@{/css/Klient.css}">
    <title>Prestige Bank</title>
</head>
<body>
<div class="main-content">
    <div class="welcome-message">
        <h1 th:text="'Xoş gəlmisiniz, ' + ${account.firstName}"></h1>
        <p>Sizi hesabınızda görməyə şadıq. Burada siz maliyyənizi idarə edə və valyuta məzənnələrinə nəzarət edə bilərsiniz.</p>
    </div>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="logo">
                <a>
                    <img src="https://r.mobirisesite.com/979922/assets/images/g7fe510f007741ca04d88c532655a-h_m4e2c5tl.jpg" alt="" class="logo" style="height: 100px; width: 200px;">
                </a>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/transfer">Əməliyyatlar</a></li>
                    <li><a href="/transactions">Əməliyyat tarixçəsi</a></li>
                    <li><a href="/setting">Ayarlar</a></li>
                </ul>
            </nav>
            <div class="logout">
                <p style="margin-top: 330px" th:text="'Account Number: ' + ${account.getAccountNumber()}"></p>
                <form action="/logout" method="get">
                <button class = "show-cvv-btn">Həsabdan çıxmaq</button>
                </form>
            </div>
        </div>

        <!-- Main content -->
        <div class="main-content">
            <div class="card-container">
                <div class="card">
                    <img th:src="@{/images/CARD.png}" alt="Bank Card" class="card-image">
                    <div class="card-info">
                        <p class="card-number" th:text="${account.cardNumber}">1234 5678 9876 5432</p>
                        <div class="balance-container">
                            <button class="show-cvv-btn" onclick="toggleCVV()">CVV göstərmək</button>
                            <p class="balance" th:text="${account.accountBalance} + ' AZN'">1500 AZN</p>
                        </div>
                        <p class="cvv" id="cvv-code" style="display: none;" th:text="'CVV: ' + ${account.cvvCode}"></p>
                        <p class="expiry" id="expiry-date" th:text="${account.cardExpiry}"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Currency Exchange -->
        <div class="currency">
            <h3>Valyuta məzənnələri</h3>
            <table>
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Valyuta</span>
                </td>
                <td>
                    <span>Alış</span>
                </td>
                <td>
                    <span>Satış</span>
                </td><td>
            </td>
            </tr>
            <tr>
                <td>USD</td>
                <td>1.6970</td>
                <td>1.7020</td>
                <td></td>
            </tr>
            <tr>
                <td>EUR</td>
                <td>1.7778</td>
                <td>1.8249</td>
                <td></td>
            </tr>
            <tr>
                <td>RUB</td>
                <td>0.0149</td>
                <td>0.0185</td>
                <td></td>
            </tr>
            <tr>
                <td>GBP</td>
                <td>2.1099</td>
                <td>2.2019</td>
                <td></td>
            </tr>
            <tr>
                <td>TRY</td>
                <td>0.0307</td>
                <td>0.0607</td>
                <td></td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
<script th:src="@{/js/dashboard.js}"></script>
</body>